# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

Output/
/android/app/.cxx

/android/app/build
*.aar
*.jar

/src/miru_core/**/

# Ignore ffmpeg libraries donwloaded from github
/src/ffmpeg_merge/windows_x64/ffmpeg-n7.1.1-6-g48c0f071d4-win64-lgpl-shared-7.1
/src/ffmpeg_merge/linux_x64/ffmpeg-n7.1.1-6-g48c0f071d4-linux64-lgpl-shared-7.1
/src/ffmpeg_merge/**/*.zip
/src/ffmpeg_merge/**/*.tar.xz
