# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

Output/
/android/app/.cxx

/android/app/build
*.aar
*.jar

/src/miru_core/linux_x64/*
/src/miru_core/windows_x64/*


# Ignore ffmpeg libraries donwloaded from github
src/ffmpeg_merge/windows_x64/ffmpeg-8.0-mingw-gcc-lite
/src/ffmpeg_merge/linux_x64/ffmpeg-8.0-linux-clang-lite-lto
/src/ffmpeg_merge/android/ffmpeg-8.0-android-lite-lto

/src/ffmpeg_merge/**/*.zip
/src/ffmpeg_merge/**/*.tar.xz
miru
src/miru_core/miru-core
flutter_*.png
